{{#each this}}
  <li class='card poster-js' data-film='{{id}}' data-list="{{list}}" id="{{id}}">
    <div class='card-top poster-js' data-film='{{id}}'>
      <img
        class='poster-js'
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='{{title}}'        
        data-film='{{id}}'
      />
    </div>
    <div class='card-box poster-js' data-film='{{id}}'>
      <h3 class='card-title poster-js'data-film='{{id}}'>{{title}}</h3>
      <div class='card-bottom poster-js' data-film='{{id}}'>
        <p class='card-bottom-genres poster-js' data-film='{{id}}'>{{genre_ids}} |</p>
        <span class='card-bottom-year poster-js' data-film='{{id}}'>{{release_date}}</span>
      </div>
    </div>
    <span class='card-rating poster-js' data-film='{{id}}'>{{vote_average}}</span>
    <div class="{{list}} poster-js" id="list{{id}}">{{list}}</div>
  </li>
{{/each}}