<div class="swiper-slide">
  {{#each this}}
  <div class='coming-soon-list-item poster-js' data-film='{{id}}' id="{{id}}">
    <img 
    class="poster poster-js" 
    data-swiper-parallax="-70" 
    data-swiper-parallax-duration="600"
    src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt='{{title}}' data-film='{{id}}' />
  </div>
  {{/each}}
</div>
  {{!-- <li class='coming-soon-list-item' data-film='{{id}}' id="{{id}}">
    <img src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt='{{title}}' data-film='{{id}}' />
  </li> --}}